*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 8vh;
 background-color: #DDA0DD;
 font-family: 'Poppins', sans-serif;
}

.logo {
  color: #F5FFFA;
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
  text-decoration: none;
  font-weight: bold;
  font-size: px;
  list-style: none;
  color: #FFFFD8
}
